{% extends 'index_template.html' %}

{% block title %}Forget Password{% endblock %}

{% block main %}
<!-- Banner -->
  <h2 class="login-header">Login</h2>
      <div id="main-wrapper">
        <div id="main" class="container">
          <div class="row">
            <div class="12u">
              <div class="content">

                <!-- Content -->
                <article class="box page-content">
                  <header>

                    <form class="login-container" action = "{% url 'forget_password' %}" method = "POST">
                      {% csrf_token %}
                      {% if error %}
                        <p><strong>{{error}}</strong></p>
                      {% endif %}
                      {% load nbsp%}
                      <p><input type="email" placeholder="Email" name="email"/></p>
                      <!--button-->
                      <ul class="actions">
                        <li><input type="submit" value="forget password"></li>
                      </ul>
                    </form>
                  </header>
                </article>

              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}